@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
    overflow-x: hidden;
}

li {    list-style: none;   }
a {
    text-decoration: none;
    color: #000;
}
.center {
    text-align: center;
    margin: 5rem 0 1rem;
}
.list {
    display: flex;
    justify-content: space-between;
    margin: 0 3.5rem;
}
.color {
    color: red;
}

.mark {
    font-size: 0.9rem;
    font-weight: 600;
    display: inline;
    background-color: #ff0;
}

/*
*
header
*
*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
 
.clearfix:after {
    display: block;
}
 
.clearfix {
    *zoom: 1;
}
 
body {
    font-family: "Helvetica Neue", Helvetica, 游ゴシック, YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana, メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
 
.fixed {
    position:fixed;
    top:0;
    left:0;
    width:100%;
}
 
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: #666666;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
    z-index: 999;
}
 
 
header  {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:#fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    z-index:9999;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
}
header .inner {
    max-width:1080px;
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    padding:0.5em 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
header h1 {
    display: inline-block;
    margin-top: 0.5rem;
}
 
header.navOpen nav {
    background-color: #eee;
    opacity: 1;
    right: 0;
}
header nav ul {
    width: 100%;
    padding: 0 0 0 0px;
}
header.navOpen ul li {
    text-align: center;
    display: block;
    border: none;
    padding: 0;
}
header nav ul li {
    margin: 1rem 0;
    display: inline-block;
    list-style:none;
}
header nav ul li a {
    position:relative;
    padding: 0.5rem;
    color:#777;
    text-decoration:none;
}
header nav ul li a:hover {
    text-decoration: underline;
}
header nav ul li:last-child {
    margin-left: 0.8rem;
}
header nav ul li:last-child a {
    padding: 0.5rem 0.8rem;
    margin-left: 0.8rem;
    border: solid 1px #0054a7;
}
header nav ul li:last-child a:hover {
    text-decoration: none;
    border: solid 2px #0054a7;
}
 
header .button {
    display: none;
    width: 30px;
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
}
header .button span {
    display: block;
    height: 4px;
    width: 100%;
    background: #000000;
    border-radius: 2px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
header .button span:nth-of-type(2),
header .button span:nth-of-type(3) {
    margin-top: 5px;
}
 
header.navOpen .button span:nth-of-type(1) {
    -webkit-transform: translateY(9px) translateX(0) rotate(45deg);
    -ms-transform: translateY(9px) translateX(0) rotate(45deg);
    transform: translateY(9px) translateX(0) rotate(45deg);
}
header.navOpen .button span:nth-of-type(2) {
    margin-top: 5px;
    opacity: 0;
    -webkit-transform: translateY(9px);
    -ms-transform: translateY(9px);
    transform: translateY(9px);
}
header.navOpen .button span:nth-of-type(3) {
    -webkit-transform: translateY(-9px) translateX(0) rotate(-45deg);
    -ms-transform: translateY(-9px) translateX(0) rotate(-45deg);
    transform: translateY(-9px) translateX(0) rotate(-45deg);
}
 
#contents {
    max-width: 1080px;
    margin:120px auto 0;
    padding:1em 1.5em;
    line-height:1.5;
}
#contents p {
    margin: 50px 0 0 0;
}
 




/*
*
body
*
*/

/*top画像*/
.ocimg {
    width: 100%;
    min-height: 60vh;
    background-image: url("img/flower.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 4.5rem;
}
.contxt{
    text-align: center;
    padding: 2rem 0;
    text-shadow: 0 0 5px #676767;
    color: #fff;
}
.oc {
    font-size: 5rem;
    line-height: 6rem;
}
.date {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.contxt a {
    color: #fff;
    background: #0054a7;
    padding: 1rem 2rem;
}
.contxt a:hover {
    background-color: #0077aa;
}


/*体験授業・学科の説明*/
.trial {
    margin-top: 3rem;
}
.htxt p {
    font-size: 1.5rem;
    font-weight: 500;
}
.htxt h2 {
    font-size: 2.5rem;
    font-weight: 400;
}

.indiv {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(28, 69, 87, 0.08) 0px 2px 2px 1px;
    margin: 0.5rem;
    padding: 0.5rem;
}
.indiv img {
    max-width: 100%;
}
.indiv dl dt {
    font-weight: 600;
}
.indiv dl dd {
    margin-bottom: 0.5rem;
}
.indiv ul li {
    font-weight: 600;
}
.indiv dl, .indiv li {
    font-size: 0.9rem;
}

/*参加者特典*/
.bonus {
    display: inline;
}
.bnslist li {
    background-color: #fff;
    margin: 0.5rem;
}
.bnsImg {
    text-align: center;
}
.bnsTxt {
    padding: 1.5rem;
}
.bnsImg img {
    padding-top: 1rem;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    text-align: center;
}



/*一日の流れ*/
.timecon {
    width: 80%;
    padding: 1.5rem;
    margin: 0 auto;
}
.timeImg {
    display: flex;
    padding: 2rem 0;
}
.timeImg img {
    width: 32%;
    margin: 0 0.5rem;
}
.time {
    font-size: 1.5rem;
}
.text{
    margin: 0 0 2rem;
}


/*Q&A*/
.questxt dt:first-letter {
    font-size: 2rem;
    font-weight: 600;
    color: #0077ff;
}
.questxt dd:first-letter {
    font-size: 2rem;
    font-weight: 600;
    color: #e59999;
}
.questxt dt {
    text-indent: -2.4rem;
    padding-left: 3rem;
}
.questxt dd {
    text-indent: -2.3rem;
    padding-left: 5rem;
    padding-bottom: 1rem;
}
.questxt {
    width: 80%;
    padding: 1.5rem;
    margin: 0 auto;
}



/*参加申込フォーム*/
.formSec {
    width: 92%;
    height: auto;
    max-width: 100%;
    margin: 20px auto;
    padding: 0 4%;
    color: #555;
}
  
.formTab {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.formTab tbody tr {
    height: 5rem;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;

}

.formTab tbody tr th {
    width: 30%;
    padding: 20px;
    text-align: left;
    vertical-align: top;
    border-right: 1px solid #aaa;
}

.formTab tbody tr th .required {
    display: inline-block;
    margin: 0 0 0 10px;
    padding: 0 5px;
    color: #fff;
    font-size: 0.7em;
    border-radius: 25px;
    background-color: red;
    vertical-align: middle;
}

.formTab tbody tr td {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem  1rem 1rem;
}

.formTab tbody tr td .part {
    display: inline-block;
    width: 20%;
}

.formTab tbody tr td label.error {
    display: inline-block;
    margin: 5px 0 0 0;
    color: red;
    font-size: 0.9em;
    font-weight: bolder;
}

.formTab tbody tr td input[type="text"],
.formTab tbody tr td input[type="email"],
.formTab tbody tr td input[type="tel"]{
    width: 20rem;
    height: 2rem;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #aaa;
}

.formTab tbody tr td textarea {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid #aaa;
}

form button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto 0 auto;;
    border: 1px solid #aaa;
    background-color: #fff;
    cursor: pointer;
}

/*footer*/
footer {
    width: 100%;
    /* padding: 0 5%; */
}
.foot1 {
    display: flex;
    background-color: #ccc;
    padding: 2rem;
}
.foot1 .footInfo, .foot1 .footlink {
    display: inline-block;
    width: 50%;
}
.footInfo p {
    font-size: 1.5rem;
    font-weight: 500;
}
.footInfo li a:hover {
    color: #0054a7;
}
.col li {
    display: inline-block;
    width: 48%;
    font-size: 0.8rem;
}
.col li img {
    max-width: 90%;
}
.col li a:hover {
    opacity: 0.6;
}
.foot2 {
    background-color: #777;
    display: flex;
    padding: 1rem 2rem;
}
.foot2 p {
    font-size: 0.7rem;
    color: #fff;
    padding: 1.3rem;
}


/*
*
mediaquery
*
*/
@media screen and (max-width: 780px) {
    /*ハンバーガーメニュー*/
    header .inner {
        height: 4rem;
    }
    .ocimg {
        margin-top: 4rem;
    }
    header h1 {
        width: 30%;
        margin-top: 0em;
    }
    header nav {
        width:70%;
    }
    header nav ul li {
        width: 25%;
    }
    #contents {
        margin-top:180px;
    }



    header h1 {
        width: auto;
        margin-top: 0;
    }
    header .button {
        display:block;
    }
    header nav {
        overflow:auto;
        position: fixed;
        top: 0;
        right: -70%;
        float:none;
        width: 45%;
        max-width:320px;
        height: 100%;
        background: #fff;
        opacity: 0;
        z-index:9999;
    }
    header nav ul li {
        float: none;
        width: auto;
    }
    #contents {
        margin-top:80px;
    }
    .nav-group .app a {
        color: #fff;
        font-size: 1rem;
        border: none;
    }
    
    header nav ul li:last-child a {
        border: none;
    }
    header nav ul li:last-child a:hover {
        color: #fff;
        font-size: 1rem;
        border: none;
    }

    .list {
        display: block;
    }
    .list li {
        display: flex;
        align-items: center;
    }
    .bnsImg {
        width: 30%;
        height: 10rem;
    }
    
    .bnsTxt {
        width: 70%;
    }
    .indiv {
        height: 20%;
    }
    .bnsImg img {
        padding: 0 0.5rem;
    }
    .indiv dl {
        width: 45%;
    }
    .indiv div {
        widows: 25%;
    }
    .timeImg {
        display: block;
        width: 100%;
    }
    .timeImg img {
        display: block;
        width: 80%;
        padding: 1rem 0;
        margin: 0 auto;
    }
    .diptype .indiv {
        height: 15rem;
    }
}